JWT_PRIVATE_KEY=parent_communication_system
JWT_EXPIRED_TIME=1d
EXPIRED_TIME_REMEMBER_LOGGED_IN=3d
MONGO_DB_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=parent_teacher_communication
MONGO_DB_USER=appAdmin
MONGO_DB_PASS=hello123
NODE_ENV=develop
PORT=8080
DEBUG_MODE=true
BASE_URL=http://localhost:8080
DEFAULT_LANGUAGE=en
PHONE_COUNTRY_CODE_DEFAULT=+84
APP_TIME_OUT=30000000
PHONE_COUNTRY_CODES=MY|+60,VN|+84,SG|+65